:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}
.text-icon {
  display: inline-block;
  vertical-align: middle;
}

input {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  border: none;
  outline: none;
}

button {
  border: none;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  background-color: #FAA500;
}

a {
  color: #353535;
}
a:hover {
  color: #FAA500;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #353535;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-y: auto;
  background:	rgba(0, 0, 0, 0.7);
  display: none;
}

.modal .modal-close-button {
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 1rem;
  color: #FFFFFF;
}

.modal-content {
  position: absolute;
  width: 848px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
}

.modal img {
  float: left;
}

.modal-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  color: #787D83;
  padding: 50px;
  margin-top: 5%;
}

.modal-content .icon-modal {
  width: 24px;
  height: 24px;
  margin-bottom: 18px;
}

.modal-content span {
  font-size: 1rem;
}

.modal-content h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  margin: 13px 0 25px 0;
}

.modal-content input {
  width: 310px;
  height: 44px;
  font-size: 1.2rem;
  background: none;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 10px 44px 10px 13px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.modal-content button {
  width: 310px;
  height: 40px;
  font-size: 1.0rem;
  border-radius: 8Px;
  font-weight: 700;
  background: #FAA500;
}

.modal-content .button-icon-modal {
  width: 20px;
  height: 20px;
  bottom: -10px;
}

header {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.header-top {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  height: 24px;
  background-color: #353535;
  font-size: 1rem;
  line-height: 18px;
  color: #ffffff;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  margin: 0 160px;
}

.header-mobile {
  display: none;
}

.header-search {
  display: flex;
  height: 40px;
  width: 791px;
  border-radius: 10px;
  background: #EFEFEF;
}

.header-search input {
  flex-grow: 1;
  padding: 0 14px 0 24px;
  font-size: 1.2rem;
  background: none;
}

.header-search button {
  width: 119px;
  height: 40px;
  font-size: 1.2rem;
  line-height: 21px;
  border-radius: 8px;
  font-weight: 400;
  background: #FAA500;
}

.header-account {
  font-size: 1.2rem;
}

.header-account ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 14px;
}

.header-account ul li:last-child {
  margin-right: 0;
  border: 2px solid #FAA500;
  border-radius: 8px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 48px;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-list li {
  margin: 0 44px;
}

/* 
  Banner
*/

.full-banner {
  height: 600px;
}

.banner-item {
  position: relative;
  height: 600px !important;
  background-position: center;
  background-size: cover;
}

.banner-content {
  position: absolute;
  top: 150px;
  left: 323px;
  color: #FFFFFF;
}

.banner h1 {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 49px;
  margin-bottom: 40px;
}

.banner h2 {
  max-width: 468px;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 24px;
}

.banner button {
  width: 128px;
  height: 48px;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 32px;
}

/*
  asection
*/
.section-title {}

.section {
  margin: 0 160px 72px 160px;
}

.section h3 {
  font-size: 1.6rem;
  margin: 21px 0;
  text-align: center;
}

.section-boxes {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
  justify-content: space-between;
}

.section-boxes .boxe {
  display: flex;
  width: 308px;
  background-color: #EFEFEF;
  border-radius: 4px;
  padding: 11px 27px;
  align-items: start;
}

.section-boxes .boxe img {
  margin: 5px 22px 0 0;
}

.section-boxes .boxe h3 {
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
  line-height: 21px;
}

.section-boxes .boxe p {
  font-size: 1rem;
}

/*
  partners
*/

.partners {
}

.partners h3 {
  font-size: 2.7rem;
  line-height: 49px;
  text-align: center;
  margin-bottom: 17px;
}

.partners-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

/*
  ordereds
*/
.ordereds {
  position: relative;
  margin: 0 160px 74px 160px;
}

.ordereds h3 {
  font-size: 2.7rem;
  line-height: 49px;
  text-align: center;
  margin-top: 74px;
  margin-bottom: 17px;
}

.ordereds-list {
  display: flex;
}

.order {
  max-width: 308px;
}

.product-colors {
  display: flex;
  flex-direction: row;
}

.product-colors li {
  width: 27px;
  height: 27px;
  margin: 8px 8px 8px 0;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.product-info {
  display: flex;
  flex-direction: column;
  max-width: 254px;
}

.product-info h4 {
  font-size: 1.7rem;
  line-height: 30px;
}

.product-info h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 24px;
}

.product-info p {
  font-size: 1.1rem;
  line-height: 18px;
  margin: 8px 0;
}

.product-info button {
  border-radius: 4px;
  height: 35px;
}

/*
  new collection
*/
.new-collection {
  display: flex;
  flex-direction: row;
  gap: 64px;
  margin: 0 160px 74px 160px;
  align-items: center;
}

.new-collection h3 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.new-collection p {
  font-size: 1.2rem;
  line-height: 21px;
}

.new-collection img {
  width: 75%;
}

/*
  newsletter
*/
.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
}

.newsletter h3 {
  font-size: 2rem;
  line-height: 37px;
  margin-right: 48px;
  background: #FAFAFA;
}

.newsletter input {
  width: 500px;
  height: 40px;
  padding: 0 14px 0 24px;
  font-size: 1.2rem;
  background: #FFFFFF;
  border: 1px solid #353535;
  border-radius: 4px;
}

.newsletter button {
  width: 131px;
  height: 44px;
  left: -10px;
  font-size: 1.5rem;
  border-radius: 4px;
  font-weight: 400;
  background: #FAA500;
}

/*
  footer
*/
footer {
  margin: 0 auto;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 0 64px 0;
}

.footer-nav ul li:first-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-nav ul li {
  margin-bottom: 25px;
  font-size: 1.1rem;
}

.footer-external-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 160px;
  background: #353535;
}

.footer-external-links a {
  font-size: 10px;
  margin-right: 22px;
  color: #FFFFFF;
}

.powered {
  display: flex;
}

.glider-next, .glider-prev {
  font-size: 40px;
  top: 45%;
  cursor: pointer;
  color: #353535;
}

.glider-prev {
  right: auto;
  left: 161px;
}

.glider-next {
  right: 161px;
  left: auto;
}

@media (max-width: 1691px) {
  .header-content {
    margin: 0 20px;
  }
  
  .header-account ul li {
    margin-right: 10px;
    padding: 10px 5px;
  }

  .header-search {
    width: 650px;
  }

  .section-boxes, .partners-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .glider-next, .glider-prev {
    top: 70%;
    cursor: pointer;
    color: #353535;
  }
}

@media (max-width: 1100px) {
  header {
  }
  
  .header-content {
    margin: 0 20px;
  }

  .header-search {
    display: none;
  }

  .header-mobile {
    display: flex;
    flex-direction: row;
  }

  .header-search-mobile, .header-account-mobile {
    margin-left: 20px;
    font-size: 25px;
  }
  
  .header-account {
    display: none;
  }

  .banner-content {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #FFFFFF;
  }

  nav {
    display: none;
  }

  .glider-prev, .glider-next {
    display: none;
  }

  .section {
    margin: 0 20px 72px 20px;
  }

  .section-boxes, .partners-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .ordereds {
    margin: 0 20px 74px 20px;
  }
  
  .ordereds-list {
    display: flex;
    gap: 15px;
  }
  
  .order {
    max-width: 280px;
  }


  .new-collection {
    flex-direction: column;
    margin: 0 80px 74px 80px;
  }

  .new-collection img {
    width: 100%;
  }

  .newsletter {
    flex-direction: column;
    height: 200px;
  }

  .newsletter div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsletter input {
    width: 300px;
    min-width: 10px;
    height: 30px;
    margin: 20px 0;
  }
  
  .newsletter button {
    height: 33px;
  }

  .footer-external-links { 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .footer-external-links > div {
    display: flex;
    margin-top: 36px;
    width: 300px;
    justify-content: center;
  }
  
  .footer-external-links a {
    margin-right: 22px;
    color: #FFFFFF;
  }
  
  .powered {
    display: flex;
  }

  .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow-y: auto;
    background:	rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  .modal .modal-close-button {
    position: absolute;
    top: -25px;
    right: 0;
    font-size: 1rem;
    color: #FFFFFF;
  }
  
  .modal-content {
    position: absolute;
    max-width: 345px;
    height: 250px;
  }
  
  .modal img {
    display: none;
  }
  
  .modal-content div {
    float: left;
    padding: 16px;
    margin-top: 0;
  }
  
  .modal-content .icon-modal {
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
  }
  
  .modal-content span {
    font-size: 0.7rem;
  }
  
  .modal-content h3 {
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    margin: 12px 0 22px 0;
  }
  
  .modal-content input {    
    height: 40px;
  }
  
  .modal-content button {
    width: 310px;
    height: 38px;
    font-size: 1.0rem;
    border-radius: 8Px;
    font-weight: 700;
    background: #FAA500;
  }
  
  .modal-content .button-icon-modal {
    width: 20px;
    height: 20px;
    bottom: -10px;
    font-size: 0.7rem;
  }
}