@import "./colors.scss";

$border-radius: 10px;

* {
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: $whiteLight;
  color: $black;
}

a {
  color: $black;
}

input, button {
  border: none;
}

input {
  padding: 0 14px 0 24px;
  outline: none;
}

button {
  background-color: $primary;
  color: $whiteLight;
  font-weight: 400;
  background: $primary;
}