@import "./colors.scss";

header {
  /* for mobile */
  width: 100vw;
  background-color: $whiteLight;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);

  .header-message {
    text-align: center;
    padding: 3px 0;
    background-color: $black;
    font-size: 1rem;
    color: $white;
  }

  .icon {
    color: $black;
    font-size: 2rem;
  }
    
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    height: 88px;

    .header-mobile-nav {
      display: block;
    }
    .header-logo {
      width: 110px;
    }

    .header-search {
      .header-mobile-search {
        display: block;
      } 
      .header-input-search {
        display: none;
      } 
    }
     .header-account {
      .header-mobile-account {
        display: block;
      }
      .header-account-list {
        display: none;        
      }
    }
  }

  @media only screen and (min-width: $break-medium) {
    /* for tablet */

    .header-content {
      margin: 0 5vw;
  
      .header-search {
        .header-mobile-search {
          display: none;
        }

        .header-input-search {
          display: flex;
          height: 40px;
          border-radius: $border-radius;
          background: $white;

          input {
            flex-grow: 1;
            width: 35vw;
            font-size: 1.2rem;
            background: none;
          }

          button {
            width: 100px;
            font-size: 1.2rem;
            border-radius: 8px;
          }
        } 
      }
    }
  }

  @media only screen and (min-width: $break-large) {
    /* for desktop */
  
    .header-content {
      gap: 2vw;
      margin: 0 10vw;

      .header-mobile-nav {
        display: none;
      }
  
      .header-search {
        .header-mobile-search {
          display: none;
        }

        .header-input-search {
          display: flex;
          width: 35vw;
          height: 40px;
          border-radius: $border-radius;
          background: $white;

          button {
            width: 119px;
          }
        } 
      }
  
      .header-account {

        .header-mobile-account {
          display: none;
        }

        .header-account-list {
          display: flex;

          ul {
            li {
              display: inline-block;
              margin-right: 20px;
              
              &:last-child {
                margin-right: 0;
                border: 2px solid $primary;
                border-radius: 8px;
                padding: 10px 14px;
              }

              a {
                color: $black;

                .icon {
                  font-size: 1.2rem;
                }
                span {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

nav {
  display: none;

  @media only screen and (min-width: $break-medium) {
    display: none;
  }
  
  @media only screen and (min-width: $break-large) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    
    ul {
      li{
        display: inline-block;
        margin: 0 44px;
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.full-banner {
  position: relative;

  .banner {

    .glider-track {
      height: 320px;
    }
    
    .banner-item {
      position: relative;
      background-position: 31% 50%;
      background-size: cover;
      
      .banner-content {
        position: absolute;
        color: $whiteLight;
        max-width: 220px;
        margin: 10vh 17vw;

        h1 {
          font-family: 'Montserrat', sans-serif;
          font-size: 2.6rem;
        }
        h2 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.4rem;
          margin: 24px 0 16px 0;
        }
        button {
          width: 76px;
          height: 28px;
          font-size: 1.3rem;
          font-weight: 700;
          border-radius: 4px;
        }
      }
    }
  }
  
  .banner-navigation {
    .glider-prev, .glider-next {
      display: none;
    }

    .dots {
      width: 100%;
      position: absolute;
      bottom: 10px;
    }
    .glider-dot {
      border: 2px solid $primary;
      background: transparent;
      bottom: 0;
      z-index: 999;
      width: 8px;
      height: 8px;
    }
    .active {
      color: $primary;
      background: $primary;
    }
  }

  @media only screen and (min-width: $break-medium) {
    .banner {  
      .banner-item {
        .banner-content {
          max-width: 370px;
          margin: 10vh 17vw;
  
          h2 {
            margin: 24px 35px 16px 0;
          }
          button {
            width: 100px;
            height: 40px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  
  @media only screen and (min-width: $break-large) {
    .banner {

      .glider-track {
        height: 600px;
      }
      
      .banner-item {
        position: relative;
        background-position: center;
        
        .banner-content {
          max-width: 475px;
          margin: 150px 0 0 323px;
  
          h1 {
            font-size: 3.3rem;
          }
          h2 {
            font-size: 1.7rem;
            line-height: 2rem;
            margin: 40px 0 32px 0;
          }
          button {
            width: 128px;
            height: 48px;
          }
        }
      }
    }

    .banner-navigation {
      .glider-prev, .glider-next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .glider-prev {
        left: 161px;
        .icon {
          font-size: 32px;
        }
      }

      .glider-next {
        right: 161px;
        .icon {
          font-size: 32px;
        }
      }

      .glider-dot {
        width: 16px;
        height: 16px;
      }
    }
  }
}