@import "./colors.scss";

nav {
  ul {
    li {
      border-bottom: 2px solid $white;
      padding: 10px 0;
      a{
        padding: 0 10vw;
        font-size: 1.2rem;
      }
    }
  }

  @media only screen and (min-width: $break-medium) {
  }
  
  @media only screen and (min-width: $break-large) {
    align-items: center;
    justify-content: center;
    height: 48px;
    
    ul {
      li{
        display: inline-block;
        border-bottom: none;
        margin: 0 44px;
        padding: 0;
        a {
          padding: 0;
        }
      }
    }
  }
}
