@import "./colors.scss";

.partner-brands {
  margin: 40px 0;

  .partner-list {
    padding: 0 5vw;

    .partner {
      display: flex;
      min-width: 298px;
      margin-right: 16px;

      img {
        border-radius: 4px;
      }
    }
  }

  @media only screen and (min-width: $break-medium) {}
  
  @media only screen and (min-width: $break-large) {
    margin: 74px 0;

    .partner-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
  
      .partner {
        margin: 0 7px;

        img {
          margin: 0 7px;
        }
      }
    }
  }
}